alabaster==0.7.13
attrs==23.1.0
Babel==2.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
certifi==2022.12.7
charset-normalizer==3.1.0
defusedxml==0.7.1
docutils==0.19
fastjsonschema==2.16.3
furo==2023.3.27
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.2
mistune==2.0.5
nbclient==0.7.4
nbconvert==7.3.1
nbformat==5.8.0
nbsphinx==0.9.1
packaging==23.1
pandocfilters==1.5.0
platformdirs==3.5.0
Pygments==2.15.1
pyrsistent==0.19.3
python-dateutil==2.8.2
pyzmq==25.0.2
requests==2.29.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-basic-ng==1.0.0b1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-svg2pdfconverter==1.2.2
tinycss2==1.2.1
tornado==6.3.1
traitlets==5.9.0
urllib3==1.26.15
webencodings==0.5.1
